.card-preview {
  width: 100%;
  max-width: 595px; /* A4 width */
  height: auto;
  aspect-ratio: 595 / 842; /* Maintain A4 aspect ratio */
  position: relative;
  margin: 0 auto;
}

.card-background {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensure image fits without losing aspect ratio */
}
.card-text {
  top: 48.8%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: rgb(0, 49, 154);
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 576px) {
  .card-text {
    font-size: 7px;
  }
  .card-text2 {
    font-size: 7px;
  }
  .heading {
    padding: 10px 20px;
    border-radius: 20px;
    color: rgb(14, 106, 69);
  }
  input {
    font-weight: bold;
    font-size: 16px !important;
  }
}

.heading {
  padding: 10px 20px;
  border-radius: 20px;
  color: rgb(14, 106, 69);
}

input {
  background: transparent;
  color: rgb(255, 188, 2) !important;
  font-weight: bold;
  font-size: 22px;
  border-radius: 0 !important;
  border: 0;
  border-bottom: 2px solid rgb(255, 188, 2) !important;
}

.input:focus {
  font-weight: bold;
  font-size: 22px;
  border-bottom: 2px solid rgb(255, 188, 2) !important;
}

.form-control:focus {
  background-color: rgba(0, 0, 0, 0.1) !important;
  color: rgb(255, 127, 64) !important; /* Or your desired background color */
}
::placeholder {
  color: rgb(255, 188, 2) !important;
  font-weight: 500 !important;
}
